.litcard {
  width: 18rem;
  flex: 0 0 auto;
  border-style: solid;
  box-shadow: 0.10rem 0.3rem 0.20rem rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;

  &.selected {
    border-color: blue;
    border-width: 2px;
  }

  &.not-selected {
    border-color: #ECECEC;
    border-width: 1px;
  }

  &.hoverable-little-card {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &.greyed-out {
    background-color: #f0f0f0;

    &.hoverable-little-card {
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}