@media (min-width: 1200px) {
    .user-image {
      width: 80%;
    }
  
  }
  @media (max-width: 1200px) {
    .user-image{
      width: 80%;
    }
  }

  @media (max-width: 992px) {
    .user-image{
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    .user-image{
      width: 80%;
    }
  }