body {
    background-color: #ECECEC;
}

.cardstock{
    height: 70vh;
    margin-top: 2rem;
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
    box-sizing: border-box;
}

.cardstock {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

.cardstock::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}