.acordeon-card-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.acordeon-card {
    width: 90%;
    border-radius: 1rem;
    box-shadow: 0.10rem 0.3rem 0.20rem rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; /* Ensure transition is applied here */
}

.acordeon-card-row {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acordeon-card-col-img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 1rem;
        object-fit: cover;
    }
}

.acordeon-card-col-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 3rem;

    h3 {
        margin: 0;
    }

    .description {
        margin-left: 1rem;

        p {
            margin: 0;
        }
    }
}

.acordeon-card-col-children {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hoverable-acordeon-card {
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }
}