.table-container {
    max-height: 660px; /* Ajusta según necesites */
    overflow-y: auto;
    border-radius: 10px; /* Redondeado para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para destacar */
}

.generic-table {
    width: 100%;
    border-collapse: collapse; /* Asegura que no haya espacio entre las celdas */
}

.generic-table th,
.generic-table td {
    padding: 8px 12px;
    border: none; /* Elimina los bordes entre las celdas */
    text-align: left;
}

/* Fija el encabezado */
.generic-table thead th {
    position: sticky;
    top: 0;
    background-color: #fff; /* Para que el fondo del encabezado no sea transparente */
    z-index: 1; /* Asegura que el encabezado se quede encima del contenido */
    border-bottom: 2px solid #ddd; /* Mantiene el borde inferior del encabezado */
}

.table-container::-webkit-scrollbar {
    display: none;
}