.nav-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .nav-item {
    .nav-link {
      background-color: #ECECEC;
      border-radius: 0.5rem; 
      color: #495057;
      padding: 0.75rem 1rem;
      font-size: 1.1rem;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #b9b9b9;
        color: #212529;
      }

      &.active {
        background-color: #fff;
        color: #000;
        border-color: transparent;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-top: -1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .tab-pane {
    padding: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .nav-tabs {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.75rem;
  }

  p {
    font-size: 0.9rem;
  }

  .nav-tabs .nav-item .nav-link {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
