.img-fluid {
  width: 100%;
  height: 100%;
}

.lead {
  margin-left: 1rem;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-item {
  max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
  display: flex;
  justify-content: space-around;
}

header.masthead {
  position: relative;
  background: url("../../assets/manos.png") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}
