	.full-navbar {
		background-color: white;
		color: #02005E;
		width: 100%;	}
	
	.naving {
		color: #02005E;
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		position: relative;
		transition: color 1s ease;

		&:hover {
			color: #02005E;
		}
	  
		&::before {
			height: 290%;
			width: 120%;
		  	content: "";
		  	position: absolute;
		  	top: -95%;
    		left: -10%;
		  	right: 0;
		  	bottom: 0;
		  	background-color: rgb(156, 156, 156);
		  	opacity: 0;
		  	transition: opacity 0.5s ease;
		}
	  
		&:hover::before {
		  opacity: 0.3;
		}
	  }

	.logo {
		width: 4rem;
		margin: 0;
	}
	
	.nav-link {
		display: flex;
		flex-direction: row;
		padding: 0;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		color: #02005E;
	  }
	.botons-derecha {
		align-items: right;
	}

	.dropdown-toggle::after {
		display: none !important;
	}

	@media (max-width: 840px) {
		.full-navbar {
		  .nav-link {
			display: none;
		  }
		}
	  }

	  .botons-derecha {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	  }
  
	.custom-dropdown-item {
		background-color: transparent !important;
		&:hover,
		&:focus,
		&:active {
		  background-color: transparent !important;
		  color: inherit !important;
		}
	}

	.hoverable {
		cursor: pointer;
		transition: transform 0.2s !important;

		&:hover {
			color: #02005E !important;
			transform: scale(1.05) !important;
		}
	}