.scroll-horizontal-entregas {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
}

.scroll-horizontal-entregas::-webkit-scrollbar {
    height: 0.75rem;
}

.scroll-horizontal-entregas::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}
