.sidebar {
    padding-top: 21rem;
    background-color: white;
    width: 20rem;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    @media (max-width: 768px) {
      width: 100%;
      padding-top: 5rem;
      height: auto;
      position: static;
    }
  
    @media (max-width: 576px) {
      padding-top: 2rem;
    }
  }
  