.sidebar {
  padding-top: 10%;
  background-color: white;
  width: 20rem;
  height: 100%;
  position: absolute;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 5rem;
    height: auto;
    position: static;
  }

  @media (max-width: 576px) {
    padding-top: 2rem;
  }
}
