.sidebar {
    padding-top: 21rem;
    background-color: white;
    width: 20rem;
    position: absolute;
    min-height: 100%; // Cambiado a min-height para asegurar que al menos llene la altura de la ventana
    height: auto; // Asegura que crezca con el contenido
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
