.pl-card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); 
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carousel-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 18rem; 
  max-width: 50rem; 
  margin: 0 auto; 
}

.carousel-image {
  width: 7.5rem; 
  height: 7.5rem;
  border-radius: 1rem; 
  object-fit: scale-down;
  margin-bottom: 1rem;
  object-fit: cover;
}

.pl-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.pl-derecha .text-content {
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 200%, 200%;
  filter: invert(1);
}