.micuenta h1 {
    text-align: center;
    margin-top: 10rem;
  }

  .micuenta {
    align-items: center;
  }

  .micuenta h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .micuenta form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center;
  }

  .contenedor-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .columna {
    width: calc(20%); /* 20% de ancho*/ 
  }

  .micuenta label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .mb-2 input{
    display: inline-block;
    width: auto;
  }

  .micuenta input{
    background-color: #ffffff;
    box-shadow: none;
    width: 25rem;
    padding: 0.5rem;
    border: none;
    border-radius: 20rem;
    color: black;
  }

  .InputGroup.mb-2 {
    display: flex; /* Habilitar flexbox para el InputGroup */
    width: 24rem; /* Ancho total del InputGroup (384px en rems) */
  }
  
  .InputGroup.mb-2 input {
    width: 8rem;
    flex: 1; /* Distribuir el espacio disponible equitativamente */
    border-right: 0; /* Eliminar borde derecho del input intermedio */
    &:last-child { /* Eliminar borde derecho del último input */
      border-right: 1px solid #ccc; /* Agregar borde derecho al último input */
    }
  }
