.micuenta h1 {
  text-align: center;
  margin-top: 5rem;
}


  .fotoperfil{
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 100%;
    
}


.micuenta {
  align-items: center;
}

.micuenta h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.micuenta form {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center;
}

.contenedor-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columna {
  width: calc(20%); /* 20% de ancho*/ 
}

.micuenta label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}



.micuenta input{
  background-color: #ffffff;
  box-shadow: none;
  width: 25rem;
  padding: 0.5rem;
  border: none;
  border-radius: 20rem;
  color: black;
}

.input-group{
display: flex;
flex-wrap: nowrap;
}

.genero {
  background-color: white;
  width: 25rem;
  padding: 0.5rem;
  border: none;
  border-radius: 20rem;
  color: black;
}

.groupderec input{
  width: 8.5rem;
  display: inline-block;
}

.grouptel input{
  width: 12.5rem;
  display: inline-block;
}

.input-group{
display: flex;
flex-wrap: nowrap;
}

.form-select:disabled{
background-color: white;
}