.micuenta h1 {
    text-align: center;
    margin-top: 200px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .micuenta form {
    display: flex;
    flex-wrap: wrap;
  }

  .contenedor-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .columna {
    width: calc(33.33% - 20px); /* 33.33% de ancho - 20px de margen */
    margin: 10px; /* Margen entre columnas */
  }

  .micuenta label {
    display: block;
    margin-bottom: 5px;
  }

  .micuenta input{
    background-color: white;
    width: 25rem;
    padding: 0.5rem;
    border: none;
    border-radius: 20rem;
    color: black;
  }
