.micuenta h1 {
    text-align: center;
    margin-top: 200px;
  }
  
  /* Estilos del formulario */
  
  .micuenta form {
    display: flex; /* Permite que las secciones se ordenen en fila */
    flex-direction: column; /* Las secciones se ordenan de arriba a abajo */
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }

  .micuenta label {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .micuenta input{
    width: 25rem;
    padding: 0.5rem;
    border: none;
    border-radius: 90px;
    color: black;
  }
  