.micuenta h1 {
  text-align: center;
}


  .fotoperfil{
    justify-content: center;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 100%;
    
}


.micuenta {
  flex-direction: column;
  display: flex;
  padding-left: 20rem; 
  margin-top: 5rem;
}

.columna {
  width: calc(30%); /* 30% de ancho*/ 
}

.micuenta label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.micuenta input:enabled{
  background-color:white;
  box-shadow: none;
  width: 25rem;
  padding: 0.5rem;  
  border-radius: 0.5rem;
  color: black;
}
.micuenta input:disabled{

  background-color: #eeeeee;
  box-shadow: none;
  width: 25rem;
  padding: 0.5rem;  
  border-radius: 0.5rem;
  color: black;
}

.genero:enabled{
  background-color:WHITE;
  box-shadow: none;
  width: 25rem;
  padding: 0.5rem;  
  border-radius: 0.5rem;
  color: black;
}
.genero:disabled{
  
  background-color: #eeeeee !important;
  box-shadow: none;
  width: 25rem;
  padding: 0.5rem;  
  border-radius: 0.5rem;
  color: black;
}

.groupderec input{
  display: inline-block;
}

.grouptelde{
  width: 12.5rem;
  display: inline-block;
}

.form-select:disabled{
background-color: white;
}

.filainputs{
  padding-left: 15rem;
  margin: 0;
}

.filacasas{
  display: flex;
  justify-content: center;  
  padding-left: 42rem;
  padding-top: 2rem;
  margin: 0;

  
}

.filabuton{
  padding-left: 15rem;
  margin: 0;
}