.datos {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #f9f9f9;
  }
  
  .fotoperfil {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;    
      display: block;
    }
  
    .form-control {
      margin-bottom: 1rem;
      border-radius: 0.25rem;
      box-shadow: none;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }
  
  .groupderec {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0rem;

  }
  